body {
    font-family: sans-serif;
    background: url("../Assets/Image3.jpg") fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1400px){
    body {
        background: url("../Assets/Background.png") fixed;
    }
}

::-webkit-scrollbar{
    background: inherit;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: red;
}

a{
    text-decoration: none;
    color: red;
}

.nav-bar{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    background: black;
    z-index: 10000;
}

.nav-bar>.logo{
    margin-right: 30px;
    font-size: 50px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.nav-bar>p:hover{
    color: rgba(255, 255, 255);
}

.nav-bar div{
    font-size: 20px;
    display: flex;
    width: 190px;
    justify-content: space-between;
    position: relative;
    right: 20px;
}

.nav-bar div a{
    color: red;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    transition: 0.5s;
}

.nav-bar div a:hover{
    color: white;
    text-decoration: none;
    background-color: red;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}

.nav-bar div a span{
    margin-left: 5px;
}

.error-msg{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 40px;
    padding: 20px;
}

.error-msg li{
    color: red;
}

.alert-msg{
    background: rgba(0, 0, 0, 0.6);
    color: red;
    margin: 40px;
    padding: 20px;
}

.success-msg{
    background: rgba(0, 0, 0, 0.6);
    color: green;
    margin: 40px;
    padding: 20px;
}

.info-box{
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: white;
}

.info-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.info-box a {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 135px;
    border-radius: 5px;
    transition: 0.5s;
    text-align: center;
}

.info-box a:hover{
    color: white;
    text-decoration: none;
    background-color: red;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}

.info-box .info{
    margin-bottom: 30px;
}

.login-box {
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: red;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: red;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: inherit;
    border: none;
}

.login-box button:hover {
    background: red;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}

.login-box a{
     color: red;
     text-decoration: none;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 40px;
     width: 150px;
     border-radius: 5px;
     margin-top: 20px;
     transition: 0.5s;
 }

.login-box a:hover{
    color: white;
    text-decoration: none;
    background-color: red;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}

#navBar{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 340px;
    overflow: auto;
    padding: 10px;
    margin-bottom: 40px;
}

#navBar h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

#navBar a {
    text-decoration: none;
    color: red;
}

.nav-links{
    background: rgba(0, 0, 0, 0.5);
    width: 520px;
    height: 100px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
}

#navBar .nav-links:hover{
    background: red;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}

.nav-links .material-symbols-outlined{
    font-size: 30px;
}

#social-media{
    width: 600px;
    padding: 10px;
}

#social-media a{
    text-decoration: none;
    color: red;
}

#social-media h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

#social-media .fa{
    display: inline-block;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 35px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    width: 110px;
    aspect-ratio: 1;
    font-size: 40px;
}

#social-media .fa:hover{
    background: red;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}

